<h1>Teatry</h1>


<% if can? :create, Theatre %>
  <p>
      <%= link_to 'Dodaj teatr', new_item_path, :class =>"btn btn-default" %>
  </p> 
<% end %>


<%= form_tag(theatres_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "Search theatres" %>
<%= submit_tag "Search" %>
<% end %>


<% if (@theatres.present?) &&  (params.has_key?(:search))%>
  <%= render @theatres %>
<% elsif (params.has_key?(:search)) %>
  <p>There are no theatres containing the term(s) <%= params[:search] %>.</p>
<% end %>


<%= will_paginate @theatres %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>


  <tbody>
      <% @theatres.each do |theatre| %>
      <tr>
        <td><%= theatre.name %></td>
        <td><%= theatre.description %></td>
<% if current_user.role_id == 1 || 2 %>
  <td> <%= link_to 'Edytuj', edit_item_path(theatre) %></td> 
  <td><%= link_to 'Usuń', theatre, method: :delete, data: { confirm: 'Jesteś pewien?' } %></td>
<% end %> 
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Theatre', new_theatre_path %>
