<h1>Teatry</h1>


<% if can? :create, Theatre %>
  <p>
      <%= link_to 'Dodaj teatr', new_item_path, :class =>"btn btn-default" %>
  </p> 
<% end %>


<%= form_tag(theatres_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "Znajdź teatr", class:"form-control col-md-4"  %>
<%= submit_tag "Szukaj", class:"btn btn-default" %>
<% end %>


<% if (@theatres.present?) &&  (params.has_key?(:search))%>
  <% @theatres.each do |theatre| %>
        <%= render "theatre", theatre: theatre %>
     <% end %>
     <div class="col-md-12">
      <%= will_paginate @theatres, renderer: BootstrapPagination::Rails %>
    </div> 
<% elsif (params.has_key?(:search)) %>
  <p>Niestety taka sztuka nie znajduje się w naszej bazie danych <%= params[:search] %>.</p>
<% end %>


<% @theatres.each do |theatre| %>
        <%= render "theatre", theatre: theatre %>
     <% end %>
     <div class="col-md-12">
      <%= will_paginate @theatres, renderer: BootstrapPagination::Rails %>
    </div> 


<br>

<%= link_to 'New Theatre', new_theatre_path %>
