<p>


	<% if user_signed_in? %>
    	Ocena uzytkownika: <%= rating_for_user @item, current_user, 'speed', star: 10 %>
	<% else %>
		<%=
			(Rate.where(:rateable_id =>  item.id.to_i).sum(:stars)/Rate.where(:rateable_id =>  item.id.to_i).count).round(2)
		%>
	<% end %>
</p>


<p>
	<strong>Nazwa:</strong>
  	<%= @item.name %>
</p>
		
<p>
	<strong>Teatr:</strong>
	<%= link_to Theatre.where(id: @item.theatre_id).take.name, theatre_path(Theatre.where(id: @item.theatre_id).take.id) %>

</p



<p>
  <strong>Opis:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Zdjęcie:</strong>
  <%= image_tag(@item.photo_url, :width => 300) if @item.photo.present? %>
</p>



<% if (user_signed_in?) && (current_user.role_id == 1 || 2) %>
	<%= link_to 'Edytuj', edit_item_path(@item) %> |
<% end %>	


<%= link_to 'Cofnij', items_path %>
