<!DOCTYPE html>
<html>
<head>
  <title>Oceń sztukę!</title>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js' %>
  <%= javascript_include_tag 'http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js' %>

   <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>


  <%= csrf_meta_tags %>
</head>
<body>





    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
         	<%= link_to "Sztukomierz", root_path, :class=>"navbar-brand"%>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
           <li></li>
            <li><%= link_to "Sztuki", items_path %></li>
            <li><%= link_to "Teatry", theatres_path %></li>
            <li><%= link_to "Info", info_index_path %></li>
			<% if user_signed_in? %>
				<li>Zalogowano jako <%= current_user.email %>.</li>
				<li><%= link_to "Edytuj profil", edit_user_registration_path %></li>
	  			<li><%= link_to "Wyloguj się", destroy_user_session_path, :method => :delete %></li>

			<% else %>
	  			<li><%= link_to "Zarejestruj się", new_user_registration_path %></li>
	  			<li>lub </li>
	  			<li> <%= link_to "Zaloguj się", new_user_session_path %></li>
			<% end %>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>


<div class="container first-container">

 <div class="col-md-12">
      
	<% flash.each do |name, msg| %>
	  <%= content_tag :div, msg, id: "flash_#{name}" %>
	<% end %>

	
<%= yield %>



STOPKA * STOPKA * STOPKA * STOPKA * STOPKA * STOPKA * STOPKA * STOPKA * STOPKA * STOPKA * STOPKA 

</body>
</html>
